node_modules
.vercel
.env*
.next
.env*.local

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor directories
.idea/
.vscode/
*.swp
*.swo

# Local temp files
.tmp/
temp/

# Sanity
.sanity/
dist/
